

.hover-pipa{
    border:none;
  }
  
  .hover-pipa:hover{
box-shadow: 0 0 10px rgba(255, 0, 0, 1); /* Añade una sombra verde */
  }
  .hover-pipa:focus{
box-shadow: 0 0 10px rgba(255, 0, 0, 1); /* Añade una sombra verde */
  }
  